---
import Markdown from "../../layouts/Markdown.astro";
import Image from "astro/components/Image.astro";
const workshop = await getCollection("workshops");

export async function getStaticPaths() {}
---

<Markdown>
  <div slot="top">
    <a href="/#workshops">Workshops</a>
    <h1><span>{workshop.data.title}</span></h1>
  </div>

  ##CONTENT##

  <div slot="sidebar">
    <img
      width="300"
      height="300"
      src={workshop.data.image.src}
      alt="workshop image"
      class="image"
    />
  </div>
</Markdown>

<style>
  a {
    display: block;
    margin-bottom: var(--sp-m);
  }
</style>
