---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

let allNews = await getCollection("news");
allNews.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Base title="News">
  <div class="container">
    <h2><span>News</span></h2>
    <p class="code">The third digit of the code is 3</p>

    <ul>
      {/* 2. Loop over the collected items directly */}
      {
        allNews.map((item) => (
          <li>
            <article>
              {/* Title and Date remain the same */}
              <h3>{item.data.title}</h3>

              <time datetime={item.data.date.toISOString()}>
                {item.data.date.toDateString()}
              </time>

              <div class="md">
                {/* 3. FINAL FIX: Render the markdown content stored in item.body */}
                <Fragment set:html={item.body} />
              </div>
            </article>
          </li>
        ))
      }
    </ul>
  </div>
</Base>

<style>
  ul > li:not(:last-child) {
    border-bottom: solid grey 1px;
    padding-bottom: var(--sp-l);
    margin-bottom: var(--sp-xl);
  }

  h3 {
    margin-bottom: var(--sp-2xs);
  }

  time {
    display: block;
    margin-bottom: var(--sp-l);
  }
</style>
